#app {
  flex: 1;
  display: grid;
  overflow: auto;
  padding: 0.75rem;
  gap: 0.75rem;
}

#app section {
  display: flex;
  border-radius: 1rem;
  background-color: var(--color-dark-gray);
  overflow: hidden;
}

#app section > * {
  width: 100%;
  height: 100%;
}
