:root {
  --color-background: #0A0B0C;
  --color-dark-gray: #1B1C1F;
  --color-gray: #2F2F35;
  --color-green: #047857;
  --color-light-green: #059669;
  --color-danger: #E44343;
  --color-white: #FFFFFF;
}
