:root {
  --color-background: #050505;
  --color-dark-gray: #131417;
  --color-gray: #26282C;
  --color-green: #047857;
  --color-light-green: #059669;
  --color-danger: #E44343;
  --color-white: #FFFFFF;
}
