.dialog {
  background-color: #131417;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  border: 0;
  width: 40vw;
  flex-direction: column;
  gap: 1rem;
}

.dialog[open] {
  display: flex;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #82878F;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}

.dialog__close:hover {
  color: white;
}

.dialog__title {
  font-size: 1.25rem;
  margin-bottom: -0.75rem;
}

.dialog__subtitle {
  color: #82878F;
  font-size: 0.875rem;
}

.dialog__field {
  display: flex;
  flex-direction: column;
}

.dialog__field__label {
  color: #FFFFFF;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.dialog__field__input {
  background-color: #1C1E21;
  border: 1px solid #2E3038;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
}

.dialog__field__input::placeholder {
  color: #82878F;
}

.dialog__field__input:focus {
  border-color: #4D4F57;
}

.dialog__field__input:focus::placeholder {
  color: #4D4F57;
}

.dialog__field__input:focus-visible {
  outline: none;
}

.dialog__button {
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  color: #131417;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.1s;
  font-weight: 700;
  margin-top: 1rem;
}
