.switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.switch-container span {
  font-size: 14px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px; 
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; 
  width: 16px;
  left: 3px; 
  bottom: 2px; 
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #38A169; 
}

input:focus + .slider {
  box-shadow: 0 0 1px #38A169;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px); 
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px; 
}

.slider.round:before {
  border-radius: 50%;
}